body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    gap: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 0px 20px;
    gap: 100px;
}

.header h1{
    font-size: 40px;
    color: rgb(44, 172, 214);
}

.header .copy{
    visibility: hidden;
}

button{
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid  rgb(44, 172, 214);
    font-size: 15px;
}

.header button{
    font-size: 20px;
}

.pressed-button{
    background-color:  rgb(44, 172, 214);
}

.hover-effect{
    background-color: orange;
}

.permanent-effect{
    background-color: orange;
}

.content{
    display: flex;
    justify-content: center;
    gap: 400px;
}

.content .buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
}

.content button{
    font-size: 20px;
}

.colored{
    padding: 0px;
}

.pad{
   display: flex;
   flex-wrap: wrap;
   min-height: 700px;
   min-width: 700px;
   padding: 0px;
   margin: 10px;
   border-color: black;
   border-style: solid;
   border-width: 5px;
}

.footer{
    text-align: center;
    margin-top: auto;
    background-color: rgb(44, 172, 214);
    padding: 8px;
    height: 40px;
    font-size: 28px;
}

.footer {
    color: white;
}

.footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}